.deposit-containerr {
    padding: 80px 30px;
    /* background-color: #f9f9f9; */
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    margin-top: 20px;
    
    @media screen and (max-width: 768px) {
     height: auto;
      
    }
   
  }
  
  .deposit-title {
    font-size: 32px;
    color: #00c853;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .deposit-containerr .deposit-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  
    gap: 20px;
   
    /* padding: 20px; */
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr); 
      
    }
   
    
  }
  
  .deposit-card {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    /* flex: 1 1 calc(25% - 20px); */
    width: 100%;
    transition: transform 0.3s ease;
   
  }
  .deposit-card img{
    max-width: 100%;
    height: auto;
  }
  
  .deposit-card:hover {
    transform: translateY(-5px);
  }
  
  .deposit-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }
  
  .deposit-card h3 {
    font-size: 20px;
    color: #2b2b2b;
    margin-bottom: 8px;
  }
  
  .deposit-card p {
    font-size: 14px;
    color: #555;
  }



  /* bank deposit */

  .custom-file-input {
  background-color: #5e6bf7; 
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  width: 100%;
}

.file-input::file-selector-button {
  background-color: #5e6bf7;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.file-input:hover::file-selector-button {
  background-color: #4c59d8;
}


/* online deposit */
.submit-btn {
  background-color: #10c143;
  border: none;
  padding: 10px 30px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



